<%= form_with(model: board, url: public_boards_path, local: true) do |f| %>
<%#= form_for board do |f| %>

<!--url:  public_boards_path-->

	<!--partial: 'shared/error_messages'だとエラーになる-->
	<!--入子のパーシャル-->
	<%= render 'shared/error_messages', obj: @board %>

	<div class="form-group">
		<%= f.label :タイトル %>
		<%= f.text_field :title, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :件名 %>
		<%= f.text_field :subject, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :本文 %>
		<%= f.text_area :body, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.attachment_field :image, placeholder: 'プロフィール画像', class: 'board-image-form' %>
	</div>


	<div class="actions">
		<%= f.submit '投稿する', class: 'form-control' %>
	</div>



<% end %>