<div class="row">
	<div class="col-md-3">
	<h4 class="board-head">掲示板一覧
		<%= link_to "+", new_public_board_path, class: "btn btn-info", style: "border-radius: 50%" %>
	</h4>
		<div class="card card-default">
			<div class="card-heading thead">
				<h5 class="text-center">掲示板内検索</h5>
			</div>
			<table class="table">
			   <!--タイトルと本文の検索-->
			   <!--orでつなげることで複数のカラムが検索できる-->
			   <%= search_form_for(@search, url: public_boards_path, html: {class: 'form-inline'}) do |f| %>
			   	<%#= f.label :title_or_body_cont, '検索はこちら' %>
			   <p><%= f.search_field :title_or_body_cont, class: 'searchform', placeholder: '検索はこちら' %>
			   </p>
					<i class="fas fa-search"><%= f.submit %></i>
				<% end %>
				<tbody>
				<tr>
					<td><%= link_to public_boards_path do %>
						<span>全記事(<%= Board.all.count %>)</span>
						<% end %>
					</td>
				</tr>
				<% @tags.each do |tag| %>
					<% if tag.is_void == false %>
					<tr>
						<td class="tag-name">
						<%= link_to public_boards_path(tag_id: tag.id) do  %>
							<span><%= tag.name %>(<%= tag.board_tags.count %>)</span>
						<% end %>
						</td>
					</tr>
					<% end %>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>


	<div class="col-md-9">
		<div class="board-title">
			<p class="text-right">
				<%= link_to '新規作成フォーム +', new_public_board_path, class: "btn btn-outline-dark" %>
			</p>
		</div>
		<% if !params[:tag_id] %>
			<!--入子構造-->
			<div class="col-xs-6">
				<!--新着投稿一覧　3件-->
				<div class="card card-default">
					<div class="card-heading thead">
						<h5 class="text-center">新着投稿  <i class="far fa-newspaper"></i></h5>
					</div>
					<%= render 'index', boards: @new_boards, board_tags: @new_board_tags %>
				</div>
			</div>
			<div class="col-xs-6">
				<!--人気投稿一覧-->
				<div class="card card-default">
					<div class="card-heading thead">
						<h5 class="text-center">人気投稿  <i class="fas fa-crown"></i></h5>
					</div>
					<%= render 'index', boards: @new_boards %>
				</div>
			</div>
		<% end %>


		<div class="card card-default">
			<div class="card-header">
				<h5 class="text-center">掲示板一覧  <i class="far fa-list-alt"></i></h5>
			</div>
			<%= render 'index', boards: @boards, board_tags: @board_tags %>
		</div>

		<%= paginate @boards %>
	</div>
</div>

