<!--mr-1 :0.25rem /mr/mt/mb/ml-->
<div class="d-flex align-items-center mt-3 mb-2">
  <div class="mr-auto p-1">
    <h2>掲示板詳細</h2>
  </div>
  <div class="ml-auto">
    <%= link_to '一覧', public_boards_path, class: 'btn btn-outline-dark' %>
    <%= link_to '編集', edit_public_board_path(@board), class: 'btn btn-outline-dark' %>
  </div>
</div>


<div class="form-set">
  <div class="board-heading">
      <h4><%= @board.title %></h4>
      <% @board.tags.each do |tag| %>
        <span class="badge badge-info"><%= tag.name %></span>
      <% end %>
  </div>
  <div class="board-body">
      <p class="board-text"><%= simple_format(@board.body) %></p>
  </div>
  <div class="board-profile">
      <span id="time">投稿日時: <%= l @board.created_at %></span>
      <p class="text-right font-weight-bold mr-10">
        <%= link_to public_user_path(@board.user) do %>
          <%= @board.user.name %>
          <%= attachment_image_tag @board.user, :profile_image, :fill, 200, 200, fallback: 'no_image.jpg', size: '40x40' %>
        <% end %>
     </p>
     <span class="border-left" style="padding:10px;"></span>
  </div>
  <!--左ボーダー -->
</div>




<div class="comments">
  <div class="form-set">
    <div class="comment-heading">
      <h4>コメント一覧</h4>
      <%= render 'public/board_comments/comments', board_comments: @board_comments, board_comment: @board_comment %>
    </div>
  </div>

</div>



<!--パーシャルで設定 回答フォーム-------------------->
<!--namespaceを使用しているためか、パーシャルがうまくいかない-->
<%#= render partial: 'board_comments/form', local: {board: @board, new_comment: @new_comment} %>
    <div class="comment-form">
        <h4>コメントを書き込む</h4>
    </div>
    <div class="comment-form">
      <%= form_with model: [:public, @board, @new_comment], local: true do |f| %>

         <%#= f.hidden_field :board_id %>
        <div class="form-group">
          <%= f.text_area :comment, class: 'form-control', rows: 6 %>
        </div>

        <div class="actions">
          <%= f.submit '送信する', class: 'btn btn-outline-info' %>
          <%= link_to '戻る', public_boards_path, class: 'btn btn-outline-dark' %>
        </div>

      <% end %>

    </div>

</div>



