<div class="d-flex align-items-center mt-4 mb-4">
  <!--mxは中央-->
  <div class="ml-auto">
    <%= link_to '一覧', public_boards_path, class: 'btn btn-outline-dark' %>
    <%= link_to '編集', edit_public_board_path(@board), class: 'btn btn-outline-dark' %>
  </div>
</div>

<div class="board-show">
  <div class="board-header">
    <h4><%= @board.title %></h4>
  </div>
  <div class="board-body">
    <p class="board-text"><%= simple_format(@board.body) %></p>
    <p class="text-right font-weight-bold mr-10">
    	<%= link_to public_user_path(@board.user) do %>
	    	<%= @board.user.name %>
	    	<%= attachment_image_tag @board.user.profile_image, :profile_image, :fill, 200, 200, fallback: 'no_image.jpg', size: '40x40' %>
    	<% end %>
    </p>
  </div>
</div>