<!--mr-1 :0.25rem /mr/mt/mb/ml-->
<div class="d-flex align-items-center mt-3 mb-2">
  <div class="mr-auto p-1">
    <h2>掲示板詳細</h2>
  </div>
  <div class="ml-auto">
    <%= link_to '一覧', public_boards_path, class: 'btn btn-outline-dark' %>
    <%= link_to '編集', edit_public_board_path(@board), class: 'btn btn-outline-dark' %>
  </div>
</div>



  <div class="board-show">
    <div class="board-header">
      <h4><%= @board.title %></h4>
    </div>
    <div class="board-body">
      <p class="board-text"><%= simple_format(@board.body) %></p>
    </div>
    <div class="board-profile">
          <p class="text-right font-weight-bold mr-10">
            <%= link_to public_user_path(@board.user) do %>
              <%= @board.user.name %>
              <%= attachment_image_tag @board.user, :profile_image, :fill, 200, 200, fallback: 'no_image.jpg', size: '40x40' %>
            <% end %>
         </p>
      </div>
  </div>


<!--回答一覧-->

<div class="comments">
  <h4>回答一覧</h4>
</div>

<!--パーシャルで設定 回答フォーム-->
<div class="answer-form">
  <div class="answer-header">
    <h4>質問に回答する</h4>
  </div>

<!--条件分岐で、boar_idの有無で判断しないと、エラーでshowのviewが見れない-->
  <%# if params[:board_id] %>

   <div class="answer-body">

      <!--namespaceを使用する場合は、先頭に指定してあげる必要がある-->
      <%= form_for([:public, @board, @board_comment], local: true) do |f| %>
      <%#= form_with(model: [@board, @board_comment], url: public_board_board_comments_path,local: true) do |f| %>

         <%= f.hidden_field :board_id %>
        <div class="form-group">
          <%= f.text_area :comment, class: 'form-control', rows: 6 %>
        </div>


        <div class="actions">
          <%= f.submit '送信する', class: 'btn btn-outline-info' %>

        </div>

      <% end %>
    </div>
</div>

<%# end %>


