<!--mr-1 :0.25rem /mr/mt/mb/ml-->
<div class="d-flex align-items-center mt-3 mb-2">
  <div class="mr-auto p-1">
    <h2>掲示板詳細</h2>
  </div>
  <div class="ml-auto">
    <%= link_to '一覧', public_boards_path, class: 'btn btn-outline-dark' %>
    <%= link_to '編集', edit_public_board_path(@board), class: 'btn btn-outline-dark' %>
  </div>
</div>


<div class="form-set">
  <div class="board-heading">
    <div class="text-left">
      <h4><%= @board.title %></h4>
      <% @board.tags.each do |tag| %>
        <span class="badge badge-info"><%= tag.name %></span>
      <% end %>
    </div>
      <div class="text-right">
        <!--掲示板お気に入りボタン   Ajax化---------------------------->

         <div id="likes_buttons_<%= @board.id %>">
           <%= render partial: 'public/board_likes/like', locals: { board: @board} %>
         </div>

        <!--掲示板お気に入りボタン---------------------------->


      </div>
  </div>
  <div class="board-body">
      <p class="board-text"><%= simple_format(@board.body) %></p>
  </div>
  <div class="board-profile">
      <span id="time">投稿日時: <%= l @board.created_at %></span>
      <p class="text-right font-weight-bold mr-10">
        <%= link_to public_user_path(@board.user) do %>
          <%= @board.user.name %>
          <%= attachment_image_tag @board.user, :profile_image, :fill, 200, 200, fallback: 'no_image.jpg', size: '40x40' %>
        <% end %>
     </p>
     <span class="border-left" style="padding:10px;"></span>
  </div>
  <!--左ボーダー -->
</div>




<div class="comments">
  <div class="form-set">
    <div class="comment-heading">
      <h4>コメント一覧</h4>
      <!--each_with_indexは回したときにそれぞれの要素が何番目か返してくれるメソッド-->
      <% @board_comments.each_with_index do |comment, i| %>
        <div class="comment-list">

          <p>NO. <%= i + 1 %></p>
          <p><%= simple_format(comment.comment) %></p>
          <div class="comment-bottom">
            <span id="time"><%= l comment.created_at %></span>
            <span>
                <%= link_to public_user_path(comment.user) do %>
                  <%= comment.user.name %>
                  <%= attachment_image_tag(comment.user, :profile_image, :fill, 200, 200, fallback: 'no_image.jpg', size: '40x40') %>
                <% end %>
            </span>

          <%= link_to '削除', public_board_board_comment_path(comment.id), method: :delete, data: {confirm: '本当に削除しますか？'}, class: 'btn btn-outline-danger' %>
          <%= link_to '編集', edit_public_board_board_comment_path(comment.id), class: 'btn btn-outline-success' %>

            <!--コメントに対するいいねボタン-->
            <%= render 'public/board_comments/comment_likes', comment: comment %>

          </div>
        </div>
      <% end %>


    </div>
  </div>
</div>



<!--パーシャルで設定 回答フォーム-------------------->
<!--namespaceを使用しているためか、パーシャルがうまくいかない-->
<%#= render partial: 'board_comments/form', local: {board: @board, new_comment: @new_comment} %>
    <div class="comment-form">
        <h4>コメントを書き込む</h4>
    </div>
    <div class="comment-form">
      <%= form_with model: [:public, @board, @new_comment], local: true do |f| %>

         <%#= f.hidden_field :board_id %>
        <div class="form-group">
          <%= f.text_area :comment, class: 'form-control', rows: 6 %>
        </div>

        <div class="actions">
          <%= f.submit '送信する', class: 'btn btn-outline-info' %>
          <%= link_to '戻る', public_boards_path, class: 'btn btn-outline-dark' %>
        </div>

      <% end %>

    </div>

</div>



