<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="labelModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    	<%= form_with model: label, local: true do |f| %>
			<%= render partial: 'shared/error_messages', locals: { obj: label} %>
	    	<div class="modal-header">
	        	<h5 class="modal-title" id="labelModalLabel">ラベル追加</h5>
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          		<span aria-hidden="true">&times;</span>
	        	</button>
	      	</div>
	      	<div class="modal-body">
	      		<div class="text-left">
					<div class="form-group">
						<%= f.label 'ラベル名', class: "form-control-label" %>
						<%= f.text_field :name, class: 'form-control' %>
					</div>
					<div class="form-group">
						<span><%= f.radio_button :is_void, :"false" %>有効</span>
						<span><%= f.radio_button :is_void, :"true" %>無効</span>
					</div>
				</div>
			</div>
	     	<div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
		        <button type="button" class="btn"><%= f.submit '保存する', class: 'btn btn-outline-primary' %></button>
	     	</div>
	      <% end %>

	 </div>
	</div>
</div>