<div class="card card-default mt-5 mr-4">
	<div class="card-heading thead">
		<h5 class="text-center p-2">ラベル検索</h5>
	</div>
	<table class="table">
		<tbody>
		<tr>
			<td>
				<%= link_to manage_labels_path do %>
					<span>全件 (<%= labels.count %>)</span>
				<% end %>
			</td>
		</tr>
		<tr>
			<td><%= link_to manage_tags_path do %>
					<span>有効 (<%= @valid.count %>)</span>
				<% end %>
			</td>
		</tr>
		<tr>
			<td><%= link_to manage_tags_path do %>
					<span>無効 (<%= @invalid.count %>)</span>
				<% end %>
			</td>
		</tr>
		</tbody>
	</table>
</div>