<table class="table table-hover table-responsive">
	<thead class="thead">
		<th>タグID</th>
		<th>タグ名</th>
		<th>作成日時</th>
		<th>ステータス</th>
		<th></th>
	</thead>
	<tbody>
		<% tags.each do |tag| %>
		<tr>
			<td><%= tag.id %></td>
			<td><%= link_to tag.name, edit_manage_tag_path(tag) %></td>
			<td><%= l tag.created_at %></td>
			<!--boolean型の日本語化、これでもok-->
			<td><%= tag.is_void ? '無効' : '有効' %></td>
			<td><%= link_to "変更", edit_manage_tag_path(tag), class: 'btn btn-outline-info', style: "border-radius: 50%" %></td>
		</tr>
		<% end %>
	</tbody>
</table>

  <%= paginate tags %>


