<div class='row'>
	<div class="col-md-6 offset-md-2">

		<div class="card card-default">
			<div class="card-head thead">
				<h4 class="text-center mb-3">タグ編集</h4>
			</div>
			<div class="card-body">
				<%= form_with model: @tag, local: true do |f| %>
					<%= render partial: 'shared/error_messages', locals: { obj: @tag} %>

				<div class="form-group">
					<%= f.label 'タグ名', class: "form-control-label" %>
					<%= f.text_field :name, class: 'form-control' %>
				</div>
				<div class="form-group">
					<span><%= f.radio_button :is_void, :"false" %>有効</span>
					<span><%= f.radio_button :is_void, :"true" %>無効</span>
				</div>

				<div class="actions">
					<%= f.submit '保存する', class: 'btn btn-outline-primary btn-block' %>
				</div>
				<div class="actions">
					<%= link_to '削除する', tag_path(@tag), method: :delete, data: { confirm: '本当に削除しますか？'}, class: 'btn btn-outline-danger btn-block' %>
				</div>
				<%= link_to '戻る', tags_path, class: 'btn btn-outline-secondary btn-block' %>
				<% end %>
			</div>
		</div>
	</div>
</div>


