<div class='row'>
	<div class='col-md-3'>
		<h3>タグ追加</h3>





		<%= render 'form', tag: @tag %>

	</div>




<!-- <div class="d-flex"> colの書き方で統一した方が良さそう-->
<div class="col-md-9">
	<h3>タグ一覧</h3>
	<!-- <div class="mr-auto"> -->
	<div class="float-right">
		<%= link_to "追加", new_manage_tag_path, class: "btn btn-info", style: "border-radius: 50%" %>
	</div>

	<!-- </div> -->
<!-- </div> -->


<table class="table table-hover">
	<thead class="thead">
		<th>タグID</th>
		<th>タグ名</th>
		<th>作成日時</th>
		<th>ステータス</th>
		<th>編集</th>
	</thead>
	<tbody>
		<% @tags.each do |tag| %>
		<tr>
			<td><%= tag.id %></td>
			<td><%= tag.name %></td>
			<td><%= l tag.created_at %></td>
			<!--boolean型の日本語化、これでもok-->
			<td><%= tag.is_void ? '無効' : '有効' %></td>
			<td><%= link_to "変更", '#', class: 'btn btn-outline-info', style: "border-radius: 50%" %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= paginate @tags %>

</div>

</div>


