<div class="row">
	<div class="mx-auto">
		<h2 class="text mr-5">タグ一覧</h2>
	</div>
	<div class="col-md-12">
		<div class="text-right">

			<div class="tag-form">
				<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
					タグ新規作成 +
				</button>
				<%= render 'form', tag: @tag, obj: @tag %>
			</div>
		</div>

 <div class="ml-auto boards__linkBox">
 	<!--selectタグを使って有効無効を切り替えられるようにする-->

    <%= form_tag manage_tags_path, method: :get, class: 'tags__searchForm' do %>

    <%= select_tag 'is_void', options_for_select([["有効", "false"],["無効", "true"]]), :id=>"false" %>


<% end %>


  </div>


		<table class="table table-hover">
			<thead class="thead">
				<th>タグID</th>
				<th>タグ名</th>
				<th>作成日時</th>
				<th>ステータス</th>
				<th></th>
			</thead>
			<tbody>
				<% @tags.each do |tag| %>
				<tr>
					<td><%= tag.id %></td>
					<td><%= link_to tag.name, edit_manage_tag_path(tag) %></td>
					<td><%= l tag.created_at %></td>
					<!--boolean型の日本語化、これでもok-->
					<td>
						<% if tag.is_void == false %>
							<span class='badge badge-primary'><%= tag.is_void ? '無効' : '有効' %></span>
						<% else %>
							<span class='badge badge-danger'><%= tag.is_void ? '無効' : '有効' %></span>
						<% end %>
					</td>
					<td>
						<%= link_to edit_manage_tag_path(tag), class: 'btn btn-outline-success' do %>
						  変更<i class="fas fa-cogs"><%= render 'form', tag: @tag, obj: @tag %></i>
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>

			<%= paginate @tags %>
	</div>
</div>




