<div class="admin-header">
  <h1>
    <%= link_to "Study record", root_path, id: "logo" %>
  </h1>

  <nav class="pc-nav">
    <ul>
      <% if admin_signed_in? %>
      　<li><%= "ようこそ、管理人さん！" %>
      </li>

        <li><%= link_to '  会員一覧', manage_users_path, class: 'glyphicon glyphicon-log-in' %></li>
        <li><%= link_to '  タグ一覧', manage_tags_path, class: 'glyphicon glyphicon-log-in' %></li>
        <li><%= link_to 'To doリスト設定', manage_todolists_path, class: 'glyphicon glyphicon-log-in' %></li>
        <li><%#= link_to '  使い方ガイド修正フォーム', home_about_path, class: 'glyphicon glyphicon-log-in' %></li>
        <li><%= link_to '  掲示板一覧', manage_boards_path, class: 'glyphicon glyphicon-log-in' %></li>

        <!--虫眼鏡デザインにすること-->
        <li><%= link_to '  検索窓', manage_search_search_path %></li>

        <li><%= link_to '  ログアウト', destroy_admin_session_path, method: :delete, class: 'glyphicon glyphicon-log-in' %></li>

      <% else %>
        <li><%#= link_to '  ', '#', class: 'glyphicon glyphicon-log-in' %></li>
        <li><%= link_to '  ログイン(管理者)', new_admin_session_path, class: 'glyphicon glyphicon-log-in' %></li>
    　<% end %>
    </ul>
  </nav>

</div>
