<div class='row'>
	<div class='col-md-3'>
		<h3>ラベル登録画面</h3>

		<div class="form-set">
			<div class="tag-heading">
				<h5>ラベル追加</h5>
			</div>
			<div class="tag-body">
				<%= render 'manage/todolists/form', todolist: @todolist, obj: @todolist %>
			</div>
		</div>
	</div>


	<div class="col-md-9">
		<h3>ラベル一覧</h3>
		<div class="form-set">
			<table class="table table-hover table-responsive">
				<thead class="thead">
					<th>ID</th>
					<th>ラベル名</th>
					<th>作成日時</th>
					<th>ステータス</th>
					<th></th>
				</thead>
				<tbody>
					<% @todolists.each do |todolist| %>
					<tr>
						<td><%= todolist.id %></td>
						<td><%#= todolist.label, edit_manage_todolist_path(todolist) %></td>
						<td class="small"><%= l todolist.created_at %></td>
						<!--boolean型の日本語化、これでもok-->
						<td><%#= todolist.done ? '無効' : '有効' %></td>
						<td><%= link_to "変更", edit_manage_todolist_path(todolist), class: 'btn btn-outline-success', style: "border-radius: 50%" %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<%= paginate @todolists %>
		</div>
	</div>
</div>


