<div class="row">
	<div class="col-md-8 offset-md-2">
		<div class="card card-default">
			<div class="card-head">
			<h3 class="text-center thead p-3">お問い合わせフォーム</h3>
			</div>

			<div class="card-body">
				<div class="form-horizontal">

					<%= form_with(model: @contact, local: true) do |f| %>
					  <%= render 'shared/error_messages', obj: @contact %>

					  <div class="form-group">
					    <%= f.label :name %>
					    <%= f.text_field :name, class: 'form-control' %>
					  </div>

					  <div class="form-group">
					    <%= f.label :email %>
					    <%= f.text_field :email, class: 'form-control' %>
					  </div>

					  <div class="form-group">
					    <%= f.label :content %>
					    <%= f.text_area :content, class: 'form-control', rows: 10, placeholder: '問い合わせ内容をご入力ください。' %>
					  </div>

					  <div class="actions">
					    <%= f.submit '送信する', class: 'form-control', class: 'btn btn-outline-info btn-block' %>
					  </div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>