<div class="form-horizontal">
<!--controller.action_name == 'index'-->
	<%= form_with model: [:public, todolist], url:  public_user_todolists_path, remote: true do |f| %>
		<%= render 'shared/error_messages', obj: todolist %>
		<div class="form-group">
			<%= f.label :内容 %>
			<%= f.text_field :content, class: 'form__text form-control' %>
		</div>
		<div class="form-group">
			<!--属性追加-->
			<%= f.fields_for :label_lists do |list| %>
				<%= list.label :選択, class: 'label_id' %>
				<%= list.collection_select :label_id, Label.where(is_void: false), :id, :name, {}, class: 'form-control-sm' %>
			<% end %>
		</div>
		<div class="form-group">
			<%= f.radio_button :time_category, :today, {value: "today", style: 'display: inline-block;'} %>
			<%= f.label :time_category_today, "本日", class: 'time_category' %>

			<%= f.radio_button :time_category, :week, { value: "week", style: 'display: inline-block;'} %>
			<%= f.label :time_category_week, "今週", class: 'time_category' %>

			<%= f.radio_button :time_category, :month, { value: "month", style: 'display: inline-block;'} %>
			<%= f.label :time_category_month, "今月", class: 'time_category' %>
		</div>
		<div class="action">
			<%= f.submit '保存する', class: 'btn btn-outline-info' %>
			<%= f.submit "clear", type: :reset %>
		</div>
	 <% end %>
</div>

