<% if @today_todolists.exists? %>

<table class="table table-hover table-responsive">
	<%# if todolists.only_done.nil? %>
<!--todoリストがdoneのものが存在していたら-->
		<thead>
			<th>No.</th>
			<th>リスト名</th>
			<th>ラベル</th>
			<th>チェック</th>
			<th>編集</th>
		</thead>
		<tbody>
		<% todolists.each_with_index do |todolist, i| %>
		    <% if todolist.done == false %>
			<tr>
				<th><%= "#{i + 1}: " %></th>
				<td><%= todolist.content.truncate(30) %></td>
				<td>
					<% todolist.label_lists.each do |label_list| %>
						<span class="badge badge-secondary"><%= label_list.label.name %></span>
					<% end %>
				</td>
				<td>
					<%= form_with model: [:public, todolist], local: true do |f| %>
						<%#= f.hidden_field :label, :value => todolist.label %>
						<%= f.hidden_field :done, :value => true %><!--完了:を送りたい-->
						<%= f.hidden_field :time_category, :value => todolist.time_category %>
						<%= f.hidden_field :content, :value => todolist.content %>

						<%= f.submit '達成', class: 'btn btn-outline-info btn-sm' %>
					<% end %>
				</td>
				<td>
					<%= link_to edit_public_todolist_path(todolist), class: 'btn btn-outline-success', style: 'border-radius: 30%' do %>
						<i class="fas fa-cogs"></i>
					<% end %>
				</td>
			</tr>
			<% end %>
		<% end %>
		</tbody>
	</table>
	<span class="text-right">
		<p><%= link_to '非表示（リセットボタン)', public_todolists_delete_path, method: :delete, data: {confirm: 'リスト内容が全て失われます。よろしいですか？'},class: 'btn btn-outline-info' %></p>
	</span>

<% else %>
<!--todoリストをまだ一つも作成していない場合-->
	Todoリストをまだ設定していませんか？<br />
	To doリスト作成欄からTo doリストを作成してみましょう！
<% end %>