<% if todolists.not_done.exists? %>
	<table class="table table-hover table-responsive">
		<thead>
			<td>No.</td>
			<td>リスト名</td>
			<td>ラベル</td>
			<td>チェック</td>
			<td>編集</td>
		</thead>
		<tbody>
		<% todolists.not_done.each_with_index do |todolist, i| %>
		<!-------Ajax追加部分------>
		<tr id="todolist_<%= todolist.id %>">
			<th><%= "#{i + 1}: " %></th>
			<td><%= todolist.content.truncate(30) %></td>
			<td class="small">
				<% todolist.label_lists.each do |label_list| %>
					<span class="badge badge-secondary"><%= label_list.label.name %></span>
				<% end %>
			</td>
			<td>
				<%= form_with(model: [:public, todolist.user, todolist], remote: true) do |f| %>
					<%= f.hidden_field :done, :value => true %><!--完了:を送りたい-->
					<%= f.hidden_field :time_category, :value => todolist.time_category %>
					<%= f.hidden_field :content, :value => todolist.content %>
					<!--追加、カラムを追加する必要ないのでは-->
					<%= f.hidden_field :update_date, :value => todolist.updated_at %>
					<%= f.button :type => "submit", style: 'border-style: none;' do %>
				  		<i class="far fa-check-square fa-2x"></i>
					<% end %>
				<% end %>
			</td>
			<td class="small">
				<%= link_to edit_public_user_todolist_path(current_user, todolist), class: 'btn btn-outline-success', style: 'border-radius: 30%' do %>
					<i class="fas fa-cogs"></i>
				<% end %>
			</td>
		</tr>
		<% end %>
		</tbody>
	</table>
<% else %>
<!--todoリストが全て完了した場合-->
	Todoリストをまだ設定していませんか？<br />
	To doリスト作成欄からTo doリストを作成してみましょう！
<% end %>