<!--カレントユーザーのみアクセスできるように-->
<div class="row">
	<div class="col-md-4">
		<!--todolistフォーム-->
		<div class="form-set">
			<div class="todolt-form">
				<h4>Todoリスト作成</h4>
				<!--todolist新規作成フォーム-->
				<%= render 'public/todolists/form', todolist: @todolist, obj: @todolist %>
			</div>
		</div>
	</div>

	<div class="col-md-8">
		<div class="form-set">
			<h3>Todo リスト</h3>
			<div class="text-right">
				<%= link_to 'マイページ', public_user_path(current_user.id), class: 'btn btn-outline-primary', style: 'border-radius:50%' %>
			</div>
			<%= form_with(model: @finish_list, url: public_todolists_complete_path, local: true) do |f| %>
			<table class="table-hover">
				<thead>
					<th>本日のリスト一覧</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					<%= render 'public/todolists/index', todolists: @todolists, todolist: @todolist, f: f %>
				</tbody>
			</table>
			<%= f.submit '完了報告', class: 'btn btn-outline-success' %>
			<% end %>
		</div>
	</div>
</div>




