<div class="row">
	<div class="mx-auto mb-2">
		<h2 class="mb-3 text-center">To doリスト</h2>
		<div class="introduction">
			<p class="text-center">リストの内容をクリアしたら、達成ボタンを押して、進捗をグラフで確認してみましょう。</p>
		</div>
		<div class="todo-image pl-5 ml-5 mb-3">
			<%= image_tag 'image05.jpg', :width => '500', :height => '250', :alt => 'top-image' %>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-5">
		<div class="card card-default mt-4" style="width: 22rem;">
			<div class="card-heading thead">
				<h5 class="text-center p-2">To doリスト作成</h5>
			</div>
	  		<div class="card-body">
				<div id="todolist_form">
					<%= render 'public/todolists/form', todolist: @todolist, label: @label %>
				</div>
			</div>
		</div>
		<span><%#= link_to 'マイページへ戻る', user_path(current_user.id), class: 'btn btn-outline-success' %></span>
	</div>

	<div class="col-md-7">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a href="#list-tab1" class="nav-link active" data-toggle="tab">本日</a>
			</li>
			<li class="nav-item">
				<a href="#list-tab2" class="nav-link" data-toggle="tab">今週</a>
			</li>
			<li class="nav-item">
				<a href="#list-tab3" class="nav-link" data-toggle="tab">今月</a>
			</li>
		</ul>

		<div class="tab-content">
			<div id="list-tab1" class="tab-pane active">
				<div class="card">
					<div class="card-heading thead">
						<h5 class="text-center p-2">本日のTo do リスト</h5>
					</div>
					<div class="card-body">
						<div id="todolist_area">
							<%= render 'public/todolists/tab', todolists: @today_todolists %>
						</div>
					</div>
				</div>
			</div>


			<div id="list-tab2" class="tab-pane">
				<div class="card">
					<div class="card-heading thead">
						<h5 class="text-center p-2">今週のリスト</h5>
					</div>
					<div class="card-body">
						<div id="todolist_area_week">
							<%= render 'public/todolists/tab', todolists: @week_todolists %>
						</div>
					</div>
				</div>
			</div>

			<div id="list-tab3" class="tab-pane">
				<div class="card">
					<div class="card-heading thead">
						<h5 class="text-center p-2">今月のリスト</h5>
					</div>
					<div class="card-body">
						<div id="todolist_area_month">
							<%= render 'public/todolists/tab', todolists: @month_todolists %>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

