<div class="row">
	<div class="col-md-3">
		<h4>会員検索</h4>

		<div class="form-set">
		   <%= search_form_for(@search, url: manage_users_path, html: {class: 'form-inline'}) do |f| %>
			   <%= f.label :name_or_email_cont, '検索はこちらから' %>
			   <%= f.search_field :name_or_email_cont %>
			   <div class="actions">
			   <%= f.submit '検索する', class: 'btn-outline-primary' %>
			   </div>
		   <% end %>
	    </div>
	</div>
	<div class="col-md-9">
	<table class="table table-hover">
		<thead class="thead">
			<tr>
				<th>会員NO.</th>
				<th>名前</th>
				<th>メールアドレス</th>
				<th>登録日</th>
				<th>ステータス</th>
				<th>詳細</th>
			</tr>

		</thead>

		<tbody>
		<% if @users.any? %>
			<% @users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= link_to user.name, manage_user_path(user) %></td>
				<td><%= user.email %></td>
				<td><%= l user.created_at %></td>

				<!--ステータスの変更をできるようにすること-->
				<td><%if user.is_deleted == false %>
                      <span class="badge badge-pill badge-primary">有効会員</span>
              		<% else %>
                  	  <span class="badge badge-pill badge-danger">退会済み</span>
              		<% end %>
              	</td>
              	<td><%= link_to '詳細', manage_user_path(user), class: 'btn btn-outline-primary' %></td>
			</tr>
			<% end %>
		<% else %>
			<h2>検索結果は0件です</h2>
		<% end %>
		</tbody>
	</table>

	<%#= paginate @pagers %>
	</div>
</div>


