<div class="row">
	<div class="col-md-8 offset-1">
		<div class="float-right">
			<%= link_to '戻る', manage_users_path, class: 'btn btn-outline-secondary' %>
		</div>

		<table class="table table-bordered table-hover">
			<thead class="thead">
				<h3>会員情報</h3>
			</thead>
				<tr>
					<th style="width: 30%", class="table-secondary"><i class="fas fa-user-cog fa-2x"></i></th>
					<td style="width: 70%"><%= attachment_image_tag(@user, :profile_image, :fill, 200, 200, fallback: 'no_image.jpg', size: '50x50') %></td>
				</tr>
				<tr>
					<th class="table-secondary">ユーザー名</th>
					<td><%= @user.name %></td>
				</tr>
				<tr>
					<th class="table-secondary">登録ID</th>
					<td><%= @user.id %></td>
				</tr>
				<tr>
					<th class="table-secondary">登録日時</th>
					<td><%= l @user.created_at %></td>
				</tr>
				<tr>
					<th class="table-secondary">メールアドレス</th>
					<td><%= @user.email %></td>
				</tr>
				<tr>
					<th class="table-secondary">会員ステータス</th>
					<td>
						<% if @user.is_deleted == false %>
	                      <span class="badge badge-pill badge-primary">有効会員</span>
	              		<% else %>
	                  	  <span class="badge badge-pill badge-danger">退会済み</span>
	              		<% end %>
	 				</td>
				</tr>
				<tr>
					<th class="table-secondary">ユーザーページ</th>
					<td><%= link_to '確認する', user_path(@user), class: 'btn btn-default btn-sm btn-outline-primary' %></td>
				</tr>
				<tr>
					<th class="table-secondary"></th>
					<!--右側に位置させる-->
					<td><%= link_to '編集する', edit_manage_user_path(@user), class: 'btn btn-lg btn-outline-success btn-block' %></td>
				</tr>
		</table>
	</div>
</div>



