<table class="table table-hover">
	<thead class="thead">
		<tr>
			<th>
			<h4 class="text-center"><i class="fas fa-user-graduate"></i>    プロフィール</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th class="text-left pl-5">
			<%= attachment_image_tag user, :profile_image, :fill, 200, 200, size: '50x50', fallback: 'no_image.jpg' %>
			</th>
		</tr>
		<tr>
		<% if admin_signed_in? %>
			<td>名前:  <%= link_to user.name, manage_user_path(user) %></td>
		<% else %>
			<td>名前:  <%= user.name %></td>
		<% end %>
		</tr>
		<tr>
			<td>自己紹介: <%= user.introduction %></td>
		</tr>
		<tr>
			<td>登録日: <%= l user.created_at %></td>
		</tr>
		<tr>
			<td>本日の達成リスト数 : <span class="badge badge-dark"><%= user.today_list_sum %></span></td>
		</tr>
		<tr>
			<td>
				過去の達成リスト数: <span class="badge badge-dark"><%= user.done_list_sum %></span>
			</td>
		</tr>
		<tr>
			<td>
				記事投稿数: <span class="badge badge-dark faa-bounce">
					<%= user.boards.count %></span>
			</td>
		</tr>
		<tr>
		<% if user_signed_in? %>
			<td><%= link_to board_likes_path do %>
				お気に入り記事: <span class="badge badge-info faa-bounce animated-hover">
				<%= user.board_likes.count %></span>
				<% end %>
			</td>

		</tr>
		<tr>
			<td>
			<!--フォロー、フォロワーの数が０だった場合、リンク先に飛べないように設定-->
			<% if user.followings.count != 0 %>
				  <%= link_to follows_user_path(user)do %>
				  フォローリスト: <span class="badge badge-info faa-bounce animated-hover"></span>
				  <%= user.followings.count %>
				  <% end %>
			<% else %>
				  フォローリスト: <span class="badge badge-dark"><%= user.followings.count %></span>
			<% end %>
			</td>
		</tr>
		<tr>
			<td>
			<% if user.followers.count != 0 %>
				<%= link_to followers_user_path(user) do %>
				フォロワーリスト: <span class="badge badge-info faa-bounce animated-hover"></span>
				<%= user.followers.count %>
				<% end %>
			<% else %>
				  フォロワーリスト: <span class="badge badge-dark"><%= user.followers.count %></span>
			<% end %>
			</td>
		</tr>
		<tr>
			<!------------フォローボタン----------------------------------->
			<span id="follow_buttons_<%= user.id %>">
				<%= render partial: 'public/relationships/follow', locals: { user: user } %>
			</span>
			<!------------フォローボタン----------------------------------->
		</tr>
		<tr>
			<% if user == current_user %>
			<th class="col-3">
				<%= link_to edit_user_path(user), class: 'btn btn-outline-success btn-block' do %>
					<span>設定
						<i class="fas fa-cogs"></i>
					</span>
				<% end %>
			</th>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>