<div class="card col-sm-6 mt-5 mx-auto px-0">
  <div class="card-head thead">
    <h3 class="text-center p-2">パスワードを変更する</h3>
  </div>
  <div class="card-body">
    <%= form_with(model: @user, url: user_users_password_path(@pass_user), method: :put, local: true) do |f| %>

    <div class="form-group">
      <%= f.label :password, "変更後のパスワード", :class => "form-label" %>
      <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
      <% if @minimum_password_length %>
      <div class="small form-text text-muted">最低<%= @minimum_password_length %>文字以上</div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "変更後のパスワード(確認)", :class => "form-label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :class=>"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :current_password, "現在のパスワード", :class => "form-label" %>
      <%= f.password_field :current_password, autocomplete: "current-password", :class => "form-control" %>
      <div class="small form-text">変更のために現在のパスワードを入力してください。</div>
    </div>

    <div class="actions">
      <%= f.submit "更新する", :class => "btn btn-outline-primary btn-block" %>
    </div>
       <%= link_to "キャンセルして戻る", :back, :class => "btn btn-secondary" %>
    <% end %>
  </div>
</div>