<div class="row">
    <div class="col-nd-3 col-md-offset-3">
      <h3>会員編集</h3>
    </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-horizontal">

      <%= form_with(model: @user, url: public_user_path, local: true) do |f| %>
        <%= render 'shared/error_messages', obj: @user %>

        <div class="field">
          <%= attachment_image_tag(@user, :profile_image, :fill, 200, 200,fallback: 'no_image.jpg', size: '60x60') %><hr />
          <%= f.attachment_field :profile_image %><hr />

        </div>

        <div class="field">
          <%= f.label :"ユーザー名" %>
          <%= f.text_field :name, class: 'form-control' %><hr />
        </div>

        <div class="form-group">
      	   <%= f.label :メールアドレス %>
      	   <%= f.email_field :email, class: 'form-control'  %><hr />
        </div>

        <div class="form-group">
          パスワード変更設定<hr />
        </div>

        <!--ボタンの位置調整-->

        <div class="actions">
           <%= f.submit "変更を保存する", class: "btn btn-outline-primary" %>
        </div>

        <div class="actions">
           <%= link_to "戻る", public_user_path(@user), class: "btn btn-outline-dark" %>
        </div>

      <% end %>

  </div>


</div>