<!--サイドバー index,showページ共通-->

<%= link_to 'ユーザー一覧', public_users_path, class: 'btn btn-outline-success' %>


<%= link_to 'プロフィール編集', edit_public_user_path(@user), class: 'btn btn-outline-success' %>

<div class="row">
	<div class="col-md-4">
		<div class="form-set">
			<h4>プロフィール</h4>
			<table class="table table-responsive">
				<tr>
					<th>名前</th>
					<td><%= @user.name %></td>
				</tr>
				<tr>
					<th>コメント</th>
					<td></td>
				</tr>
				<tr>
					<th>達成したリスト数</th>
					<td></td>
				</tr>
				<tr>
					<th>お気に入り投稿数</th>
					<td></td>
				</tr>
				<tr>
					<th>投稿数</th>
					<td></td>
				</tr>
				<tr>
					<th>フォローリスト</th>
					<td></td>
				</tr>
				<tr>
					<th>フォロワーリスト</th>
					<td></td>
				<tr>
					<th>設定</th>
					<td><%= link_to '設定', edit_public_user_path(@user) %></td>
				</tr>
			</table>
		</div>
	</div>


<!--todolist完了で受け取った値をグラフで表示する-->
	<div class="col-md-8">
		<div class="text-right">
			<%= link_to 'todoリスト設定ページ', public_todolists_path, class: 'btn btn-outline-success' %>
		</div>
		<div class="form-set">
			<h3>ユーザーグラフ</h3>
			<p>テスト</p>
			<% if params[:todolist_id] %>
			<%= @finish_list.id %>
			<% end %>
		</div>




	</div>


</div>




