<div class="row">
	<div class="mx-auto mb-2">
		<h2 class="mb-3 text-center">ユーザーページ</h2>
		<div class="introduction">
			<p class="text-center">日々の進捗をグラフでチェックしましょう。</p>
		</div>
		<div class="todo-image pl-5">
			<%= image_tag 'image01.jpg', :width => '400', :height => '300', :alt => 'top-image' %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="card card-default mr-5">
		<!--プロフィール-->
		<%= render 'public/users/profile', user: @user %>
		</div>
		<div class="card">
			<div class="card-heading thead">
		  		<h5 class="text-center p-2">今週のTo doリスト</h5>
		  	</div>
		  	<div class="card-body">
		  		<%= render 'public/todolists/index', todolists: @week_todolists, user: @user %>
		  	</div>
		</div>
		<div class="card">
			<div class="card-heading thead">
				<h5 class="text-center p-2">今月のTo doリスト</h5>
			</div>
			<div class="card-body">
				<%= render 'public/todolists/index', todolists: @month_todolists, user: @user %>
			</div>
		</div>
	</div>
	<!--todolist完了で受け取った値をグラフで表示する-->
	<div class="col-md-8">
		<div class="card card-default mr-2">
			<div class="card-heading thead">
				<h5 class="text-center p-4">ユーザーグラフ  <i class="fas fa-chart-bar"></i></h5>
			</div>
	    	<div class="card-body mb-5">
				<div class="card-text">
					<h5 class="text-center">~ 言語別の達成リスト ~</h5>
				</div>
				<%= pie_chart @user.get_labels,
					label: 'ラベル', name: 'ラベル比率',
					colors: ["#f3981d","#fcc800","#fff352","#d1de4c", "#a4d5bd", "#dbebc4"],
					legend: "bottom",
					messages: {empty: "No data"}, stacked: true %>
		 	</div>
			<div class="card-body mt-5">
				<div class="card-text">
					<h5 class="text-center">~ 1日ごとのタスク達成数 ~</h5>
				</div>
				<%= area_chart @user.week_list,
				 	colors: ["#0096f3"],
				 	xtitle: "1週間分", ytitle: "達成数",
				 	messages: {empty: "No data"}, stacked: true %>
			</div>
	     </div>
	</div>
</div>
