<div class="row">
	<div class="col-md-4">
		<!--プロフィール-->
		<%= render 'public/users/profile', user: @user %>


		<div class="card">
		  <div class="card-header">
		    <h5>今週のTo doリスト</h5>
		  </div>
		  <div class="card-body">
		    <% if @week_todolists.exists? %>
				<%= render 'public/todolists/index', todolists: @week_todolists %>
			<% else %>
				<%= link_to '設定はこちらから', public_todolists_path, class: 'btn btn-outline-info' %>
			<% end %>
		  </div>
		</div>


		<div class="card">
			<div class="card-header">
			  <h5>今月のTo doリスト</h5>
			</div>
			<div class="card-body">
				<% if @month_todolists.exists? %>
					<%= render 'public/todolists/index', todolists: @month_todolists %>
				<% else %>
					<%= link_to '設定はこちらから', public_todolists_path, class: 'btn btn-outline-info' %>
				<% end %>
			</div>
		</div>

	</div>



	<!--todolist完了で受け取った値をグラフで表示する-->
	<div class="col-md-8">
		<div class="card">
			<div class="card-header">
				<h5>ユーザーグラフ</h5>
			</div>

      <div class="card-body">
				<div class="card-text">
					<p>達成したTo doリストのラベル比率</p>
				</div>
					<%= pie_chart @user.get_labels, label: 'ラベル', name: 'ラベル比率' %>
          <%= column_chart @user.get_labels, messages: {empty: "No data"}, stacked: true %>
			</div>


			<div class="card-body">
				<div class="card-text">
          <p>達成したTo doリストのラベル比率</p>
					<p>1日ごとのタスク達成数/ 率</p>
				</div>
				<div class="card-body">

				<%#= pie_chart @chart,
					id: 'data-chart',
	                 width: '300px',
	                 height: '300px',
	                 colors: [['#adff2f'],['#ffd700'],['#00bfff']] %>
        <%= column_chart @user.get_labels, stacked: true %>

        <%= line_chart @user.get_labels, discrete: true %>

        <!--discrete: true: 入力していない日付を除く-->
	       </div>

	     </div>
		</div>
	</div>

</div>


<!----------------------テスト------------------------------------->
テスト１ グラフの横軸に日付を表示したい
<p>

<%= column_chart [
       {name: "Accepted", data: @number_charges_accepted },
       {name: "Declined", data: @number_charges_declined }
       ],
       stacked: true,
       xtitle: "Date",
       ytitle: "Transactions",
       # Additions I've tried:
       library: {
       format: 'MM/YY'
       },
       discrete: true
%>

  <%#= @user.today_list_count.group("date(created_at)").count %></p>
<p><%= @user.today_list_sum %></p>
<!-- { 20200706 => 3, 20200707 => 20, .....}-->

<p><%= @user.get_labels %></p>

<p>
 <%= line_chart @data.group(:created_at).count, library: { hAxis: { format: 'MM/dd' } } %>

 <%= line_chart @testdata.group(:created_at).count %>
</p>

<!----------------------テスト------------------------------------->


