<!--サイドバー index,showページ共通-->

<%= link_to 'マイページ', public_users_path, class: 'btn btn-outline-success' %>


<%= link_to 'プロフィール編集', edit_public_user_path(@user), class: 'btn btn-outline-success' %>

<div class="row">
	<div class="col-md-4">
		<div class="form-set">
			<table class="table">
				<tr>
					<th>名前</th>
					<td><%= @user.name %></td>
				</tr>
				<tr>
					<th>コメント</th>
					<td></td>
				</tr>
				<tr>
					<th>達成したリスト数</th>
					<td></td>
				</tr>
				<tr>
					<th>お気に入り投稿数</th>
					<td></td>
				</tr>
				<tr>
					<th>投稿数</th>
					<td></td>
				</tr>
				<tr>
					<th>フォロー一覧</th>
					<td></td>
				</tr>
				<tr>
					<th>フォロワー一覧</th>
					<td></td>
				<tr>
					<th>設定</th>
					<td><%= link_to '設定', edit_public_user_path(@user) %></td>
				</tr>
			</table>
		</div>
	</div>


<!--todoリストお引っ越し-->


	<div class="col-md-7">
		<!--todolistフォーム-->
		<div class="form-set">
			<h3>Todo リスト</h3>
			<div class="text-right">
				<%= link_to '+', new_public_todolist_path, class: 'btn btn-outline-primary', style: 'border-radius:50%' %>
			</div>
			<%#= form_with model: [:public, @todolist] do |f| %>
			<%= form_with(model: @todolist, url: public_todolists_complete_path, local: true) do |f| %>
			<table class="table-hover">
				<thead>
					<th colspan="1">リスト一覧</th>
					<th></th>
					<th></th>
				</thead>
				<tbody>
				    <!--each_with_indexは回したときにそれぞれの要素が何番目か返してくれるメソッド-->
					<% @todolists.each_with_index do |todolist, i| %>
					<tr>
						<th><%= "No. #{i + 1}" %></th>
						<td><%= todolist.content %></td>
						<!--check_box-->
						<td><%= f.check_box :content %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
				<%= f.submit '完了報告', class: 'btn btn-outline-success' %>
			<% end %>

		</div>



		<!--todolistの作成については、current_userのみに表示されるように設定する必要があり-->
		<% render 'public/todolists/form', todolist: @todolist, obj: @todolist %>


</div>




