<div class="row">
	<div class="col-md-4">
		<!--プロフィール-->
		<%= render 'public/users/profile', user: @user %>


		<div class="card">
		  <div class="card-header">
		    <h5>今週のTo doリスト</h5>
		  </div>
		  <div class="card-body">
		    <% if @week_todolists.exists? %>
				<%= render 'public/todolists/index', todolists: @week_todolists %>
			<% else %>
				<%= link_to '設定はこちらから', public_todolists_path, class: 'btn btn-outline-info' %>
			<% end %>
		  </div>
		</div>


		<div class="card">
			<div class="card-header">
			  <h5>今月のTo doリスト</h5>
			</div>
			<div class="card-body">
				<% if @month_todolists.exists? %>
					<%= render 'public/todolists/index', todolists: @month_todolists %>
				<% else %>
					<%= link_to '設定はこちらから', public_todolists_path, class: 'btn btn-outline-info' %>
				<% end %>
			</div>
		</div>

	</div>






	<!--todolist完了で受け取った値をグラフで表示する-->
	<div class="col-md-8">
		<div class="card">
			<div class="card-header">
				<h5>ユーザーグラフ</h5>
			</div>

			<div class="card-body">
				<div class="card-text">
					<p>テスト: コントローラから値を渡している</p>
				</div>
				<%= pie_chart @data %>
			</div>

			<div class="card-body">
				<%= pie_chart @test %>

				<div class="card-text">
					<p>テスト6</p>
				</div>
				<%= pie_chart @chart,
					id: 'data-chart',
	                 width: '300px',
	                 height: '300px',
	                 colors: [['#adff2f'],['#ffd700'],['#00bfff']] %>
	        </div>
		</div>
	</div>

</div>






