<!--サイドバー index,showページ共通-->

<%= link_to 'ユーザー一覧', public_users_path, class: 'btn btn-outline-success' %>


<%= link_to 'プロフィール編集', edit_public_user_path(@user), class: 'btn btn-outline-success' %>

<div class="row">
	<div class="col-md-4">
		<div class="form-set">
			<h4>プロフィール</h4>
			<table class="table table-responsive">
				<tr>
					<th>名前</th>
					<td><%= @user.name %></td>
				</tr>
				<tr>
					<th>自己紹介</th>
					<td><%= @user.introduction %></td>
				</tr>
				<tr>
					<!--今までの合計のリスト数-->
					<th>達成したリスト数</th>
					<td><%= @user.todolists.count %></td>
				</tr>
				<tr>
					<th>お気に入り投稿一覧</th>
					<td></td>
				</tr>
				<tr>
					<th>投稿数</th>
					<td><%= @user.boards.count %></td>
				</tr>
				<tr>
					<th>フォローリスト</th>
					<td>
					<!--フォロー、フォロワーの数が０だった場合、リンク先に飛べないように設定-->
					<% if @user.followings.count != 0 %>
						<%= link_to @user.followings.count, follows_public_user_path %>
					<% else %>
						<%= @user.followings.count %>
					<% end %>
					</td>
				</tr>
				<tr>
					<th>フォロワーリスト</th>
					<td>
					<% if @user.followers.count != 0 %>
						<%= link_to @user.followers.count, followers_public_user_path %>
					<% else %>
						<%= @user.followers.count %>
					<% end %>
					</td>
				</tr>
				<tr>
					<!------------フォローボタン----------------------------------->
					<span id="follow_buttons_<%= @user.id %>">
						<%= render partial: 'public/relationships/follow', locals: { user: @user } %>
					</span>
					<!------------フォローボタン----------------------------------->
				</tr>
				<tr>
					<th>設定</th>
					<td><%= link_to '設定', edit_public_user_path(@user) %></td>
				</tr>
			</table>
		</div>
	</div>


<!--todolist完了で受け取った値をグラフで表示する-->
	<div class="col-md-8">
		<div class="text-right">
			<%= link_to 'todoリスト設定ページ', public_todolists_path, class: 'btn btn-outline-success' %>
		</div>
		<div class="form-set">
			<h3>ユーザーグラフ</h3>
			<p>テスト: コントローラから値を渡している</p>
			<%= pie_chart @data %>

			<p>テスト6</p>
			<%= pie_chart @chart,
				id: 'data-chart',
                 width: '300px',
                 height: '300px',
                 colors: [['#adff2f'],['#ffd700'],['#00bfff']] %>
		</div>

		<div class="form-set">
			<h4>今週のTo doリスト</h4>
			<%= render 'public/todolists/index', todolists: @week_todolists %>
		</div>
		<div class="form-set">
			<h4>今月のTo doリスト</h4>
			<%= render 'public/todolists/index', todolists: @month_todolists %>
		</div>
	</div>


	</div>


</div>




