<!DOCTYPE html>
<html>
  <head>
    <title>StudyRecord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!--ヘッダーをadminかユーザーログインかで切替表示-->
    <div class="header">
      <% if admin_signed_in? %>
        <%= render 'layouts/admin_header' %>
      <% else %>
        <%= render 'layouts/header' %>
      <% end %>
    </div>

    <div class="container">
      <!--送ったフラッシュメッセージをページ上部に表示する-->
      <div class="row">
        <div class="col-xs-12">
          <%= flash[:notice] %>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <!--リスト作ってパーシャルでかく-->
    <!--   <div class="footer">
        <span>運営情報</span>
        この書き方だと色が変わらないので修正必要
        <span><%#= link_to '運営情報', '#' %></span>
      </div>
 -->
  </body>
</html>
