<!DOCTYPE html>
<html>
  <head>
    <title>StudyRecord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!--ヘッダーをadminかユーザーログインかで切替表示-->
    <div class="header">
      <% if admin_signed_in? %>
        <%= render 'shared/admin_header' %>
      <% else %>
        <%= render 'shared/header' %>
      <% end %>
    </div>






    <div class="container">

    <!--送ったフラッシュメッセージをヘッダー下に表示する、位置に注意-->
        <div class="row">
          <div class="col-xs-12">
            <div class="flash-message">
              <% flash.each do |key, value| %>
                <% key = "info" if key == "notice" %>
                <% key = "danger" if key == "alert" %>
                <%= content_tag :div, value, class: "alert alert-#{key}" %>
              <% end %>
            </div>
          </div>
        </div>

      <%= yield %>

    </div>



    <!--リスト作ってパーシャルでかく-->
    <!--   <div class="footer">
        <span>運営情報</span>
        この書き方だと色が変わらないので修正必要
        <span><%#= link_to '運営情報', '#' %></span>
      </div>
 -->
  </body>
</html>
