<!DOCTYPE html>
<html>
  <head>
    <title>StudyRecord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/8fbcbbf547.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ruda:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.css" type="text/css" media="all" />
  </head>

  <body>

    <header class="header">
      <% if admin_signed_in? %>
        <%= render 'shared/admin_header' %>
      <% else %>
        <%= render 'shared/header' %>
      <% end %>
    </header>

      <%= render 'shared/flash_messages' %>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="foote text-muted">
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
